

/workspace/training_demo/images
/workspace/training_demo/pre-trained-models
/workspace/training_demo/annotations


/workspace\training_demo\images
/workspace\training_demo\pre-trained-models
/workspace\training_demo\annotations
